.row
{
	position:relative;
	width : 960px;
	margin: 0 auto;
}

.row > div
{
	position:relative;
	float : left;
}

.w-1 { width : 60px; }
.w-2 { width : 140px; }
.w-3 { width : 220px; }
.w-4 { width : 300px; }
.w-5 { width : 380px; }
.w-6 { width : 460px; }
.w-7 { width : 540px; }
.w-8 { width : 620px; }
.w-9 { width : 700px; }
.w-10 { width : 780px; }
.w-11 { width : 860px; }
.w-12 { width : 940px; }

.clear { clear : both ; }

.img_grande
{
	margin-top: 10%;
	max-width:90%;
	border: 2px solid #ed1450;
}
.img_simploniens
{
	position: relative;
	padding: 5px;
	max-width: 50%;
	float: left;
	filter: sepia(1);
	border: 2px solid #ed1450;
	margin-top: 5px;
	margin-bottom: 5px;
}

.img_simploniens:hover
{
	position: relative;
	filter: sepia(0);	
}

.p_trombi
{
	font-family: 'Cabin', sans-serif;
	text-align: center;
	line-height: 75%;
	font-size: 1.1em;
}

.p_simplonien
{
	font-family: 'Cabin', sans-serif;
	text-align: center;
	line-height: 75%;
	font-size: 1.3em;
}

#t_simplonien
{
	padding-top: 5%;
}

#supprimer
{
	padding-left:50px;
}
/*CSS pour tablettes*/

@media only screen and (min-width:500px) and (max-width:980px) {
	.row {
		width : 100%;
	}
	.row > div { 
		margin : 0 0.5%;
	}
	.w-1 { width : 7.3%; }
	.w-2 { width : 15.6%; }
	.w-3 { width : 24%; }
	.w-4 { width : 32.3%; }
	.w-5 { width : 40.6%; }
	.w-6 { width : 49%; }
	.w-7 { width : 57.3%; }
	.w-8 { width : 65.6%; }
	.w-9 { width : 74%; }
	.w-10 { width : 82.3%; }
	.w-11 { width : 90.6%; }
	.w-12 { width : 99%; }

	.p_trombi
	{
		font-size: 1em;
	}
}


/*CSS pour mobiles*/
@media only screen and (max-width:500px) {
	.row {
		width : 100%;
	}
	.row > div { 
		margin : 0 1%;
	}
	.w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12 { 
		width : 98%; 
		float : none;
	}

	.p_trombi
	{
		font-size: 0.8em;
	}
}


/* css pour le bandeau de navigation */

.slideshow {
   width: 550px;
   height: 200px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
    margin-left:18%;
}

.slideshow ul {
    /* 5 images donc 5 x 100% donc a modifier si on rajoute des image 100 pour chaque image enplus*/
   width: 500%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}

#logo{
   float: left;
    margin-left: 230px;
    margin-top: 20px;

}

#logo2{
    float: right;
    margin-right: 5em;
    margin-top: -75px;

    
    
    
}

.slideshow li {
   float: left;
}

//*fin du slideshow*//

//* ecriture en haut *//


h1 {
	text-align:center;
	margin-top:0;
    margin-right: 0em;
}
h1 {
	padding: 1em 0;
	font-size: 2.9em;
	font-family: 'Amaranth', Arial, Verdana, sans-serif;
}
h1 span {
	display:block;
	line-height: 1em;
	font-size: 0.55em;
    color:#A4A4A4;
    margin-left: 20em;
}
h1 .cursive {
	margin: 0 0 0 -3em;
	font-size: 1.1em;
	line-height:0.5em;
	color: #bd9b83;
    margin-left: 8em;
}

.cursive {
	font-family: 'Mr Dafoe', cursive;
}

/*couleur html */
html {
	background-color: #e4dfd2;
}

/*footer*/

footer {
    
	padding: 15px;
	margin-bottom: 38px;
	border: 2px solid rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.1);
	color: #777;
	text-align: center;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
 	margin-top: 2%;
}

#fond
{
	border: 2px solid black;
}

/* Formulaire Isabelle */

#formulaire
{

 font-family: Verdana, sans-serif;
 font-size: 100%;
 }
form
{
 background-color:#E5D0BD;
 border: 1px solid black;
 padding:10px;
 width:400px;
 }
fieldset
{
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 }
.format
{
width:300px;

}
input[type=text]
{
background-color:#FFF3F3;

padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 box-shadow:1px 1px 2px #C0C0C0 inset;

 border:none;
}


input[type=submit], input[type=reset]
{
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }